<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Stack it up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>

    <!--        NAV                -->
    <nav>
      <h1 class='bg-primary'>Menu</h1>
      <a href="{{ url_for('index') }}">Home</a></a>
      
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      
      <a href="{{ url_for('register') }}">Register</a></a>
      <a href="{{ url_for('addcube') }}">Add Cube</a></a>
      <a href="{{ url_for('users') }}">Users</a></a>
      <p>{{ current_user }}</p>
      <button type="button" class="btn btn-primary" id="liveToastBtn">Show flash errors</button>
      
    </nav>




    <!--        MAIN BODY                -->
      <section>
          <div class="px-4 py-3 my-2">
          <!--        PAGES CONTENT              -->
          {% block content %}{% endblock%}
          <!--        PAGES CONTENT              -->
          </div>
      </section>

    <!--        FLASH MESSAGE                -->
      
    <div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Position it: -->
    <!-- - `.toast-container` for spacing between toasts -->
    <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
    <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
    <div class="toast-container top-0 end-0 p-3">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                      {{ message }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            
                     <p>{{ message }}</p> 
                    
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <!--        FLASH MESSAGE                -->

      
    <!--        MAIN BODY                -->
    
    <!--        SHOW BOOTSTRAP TOAST                -->
    
   
    <script>
      document.getElementById("liveToastBtn").onclick = function() {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function(toastEl) {
          return new bootstrap.Toast(toastEl)
        });
       toastList.forEach(toast => toast.show());
      };

    </script>
   
    
    <!--        SHOW BOOTSTRAP TOAST                -->
    

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <!-- BOOTSTRAP JS -->
  </body>
</html>