{% extends 'base.html'%}
{% block content%}

<h1>Welcome in game of Stacks!</h1>

<h1>Users table</h1>



<!--        Cube Table Mock                -->
{% for item in cube_data %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Level 1
    </div>
    <div class="col-sm-2">
      Cube1
      {{ item.cube_id }}
      {{ item.cube_color }}
      {{ item.cube_wall1 }}
    </div>
    <div class="col-sm-2">
      Cube2
    </div>
    <div class="col-sm-2">
      Cube3
    </div>
    <div class="col-sm-2">
      Cube4
    </div>
  </div>
</div>
<br>
{% endfor %}

<div id="cube_table"></div>

<!--        Cube Table Mock                -->

<!--        Java for cube table          -->
<script src="{{ url_for('static', filename='js/cube_script.js') }}"></script>
<!--        Java for cube table          -->



{% endblock %}